/* Contenedor principal */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/src/assets/slide-3.jpg"); /* Fondo oscuro profesional */
  color: #ffffff; /* Texto blanco */
}

/* Contenedor del texto animado */
.typing-container {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding-top: 50px;
}

.typing-text {
  font-family: "Roboto Mono", monospace; /* Fuente estilo máquina de escribir */
  color: #ffffff; /* Blanco puro */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra sutil */
  font-size: 3rem;
  text-transform: uppercase; /* Convierte a mayúsculas */
  white-space: nowrap; /* Mantiene el texto en una línea */
  overflow: hidden; /* Oculta el texto mientras se escribe */
}

/* Animaciones */
.typing-text:nth-child(1) {
  animation: typing-1 3s steps(50) 1 normal both, blink-cursor 0.6s steps(1) infinite;
}

.typing-text:nth-child(2) {
  border-right: 3px solid #00d1ff;
  animation: typing-2 3s steps(50) 1 normal both, blink-cursor 0.6s steps(1) infinite;
  animation-delay: 3.5s;
}

/* Animación para el efecto de escritura */
@keyframes typing-1 {
  0% {
    width: 0;
    
    border-right: none;
  }
  1%,99%{
    border-right: 3px solid #00d1ff;
  }


  100% {
    width: 100%;
    border-right: none;
  }
}

@keyframes typing-2 {
  0% {
    width: 0;
    border-right: none;
  }
  1%,99%{
    border-right: 3px solid #00d1ff;
  }
  100% {
    width: 100%;
    border-right: 3px solid #00d1ff;
  }
}

/* Animación del cursor */
@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}



/* Contenedor del formulario */
.form-container {
  width: 90%;
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 200px;

}

.card {
  background-color: #2a2a2a;
  color: #ffffff;
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;

}

.form-control {
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff;
}



.btn:hover {
  background-color: #0056b3;
}

.recuperar-clave {
  color: #5537db;
  text-decoration: underline;
}

.recuperar-clave:hover {
  color: #b922e7;
}


@media (max-width: 768px) {
  .typing-text {
    font-size: 2rem; /* Reduce el tamaño del texto */
    text-wrap: wrap;
  }
}
