
/* Define the spin animation with 3D rotation and pauses */
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    45% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    95% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Apply the spin animation to the logo */
.logo-animation {
    width: 55px;
    height: 55px;
    animation: spin 4s linear infinite; /* Adjust the duration (4s) as needed */
    transform-style: preserve-3d; /* Enable 3D transformations */
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
}
.logo{
    border-radius: 150px;
background: #e0e0e0;
box-shadow: inset 5px 5px 8px #898989,
            inset -5px -5px 8px #ffffff;
}

/* Improve the appearance with shadow and scaling on hover */
.logo-animation:hover {
    transform: scale(1.1); /* Scale the logo slightly on hover */
}

